<div class="infobox mdl-shadow--4dp">
    <div class="seriesbox-title">
        Part of a series of articles on {% if include.theprefix %}the{% endif %}
        <h2 class="arcser-title">{{ include.mainarticle | markdownify | remove_first: '<p>' | remove: '</p>' }}</h2>
        {% if include.subtitle %}{{ include.subtitle }}{% endif %}
    </div>
    {% if include.uncategorized %}
    <table class="seriesbox-data-table">
        <tbody style="text-align:center">
            <tr>
                <td>{{ include.uncategorized }}</td>
            </tr>
        </tbody>
    </table>
    {% endif %}

    {% if include.category1name && if include.category1 %}
    <table class="seriesbox-data-table">
    <tbody style="text-align:center">
        <tr style="background-color:var(--navhoverlink)!important;color:var(--text-color);text-align:center;">
            <td style="padding-top: 2px; padding-bottom: 2px;">
                <b>{{ include.category1name }}</b>
            </td>
        </tr>
        <tr>
            <td>{{ include.category1 | markdownify | remove: '<p>' | remove: '</p>' }}</td>
        </tr>
    </tbody>
    </table>
    {% endif %}
    {% if include.category2name && if include.category2 %}
    <table class="seriesbox-data-table">
	    <div style="background-color:var(--navhoverlink)!important;color:var(--text-color);text-align:center;padding-top: 2px;  padding-bottom: 2px;">
            <b>{{ include.category2name }}</b>
        </div>
        <tbody style="text-align:center">
        <tr>
            <td>{{ include.category2  | markdownify | remove: '<p>' | remove: '</p>' }}</td>
        </tr>
    </tbody>
    </table>
    {% endif %}
    {% if include.category3name && if include.category3 %}
    <table class="seriesbox-data-table">
	    <div style="background-color:var(--navhoverlink)!important;color:var(--text-color);text-align:center;padding-top: 2px;  padding-bottom: 2px;">
            <b>{{ include.category3name }}</b>
        </div>
        <tbody style="text-align:center">
        <tr>
            <td>{{ include.category3 | markdownify | remove: '<p>' | remove: '</p>' }}</td>
        </tr>
    </tbody>
    </table>
    {% endif %}
    {% if include.category4name && if include.category4 %}
    <table class="seriesbox-data-table">
	    <div style="background-color:var(--navhoverlink)!important;color:var(--text-color);text-align:center;padding-top: 2px;  padding-bottom: 2px;">
            <b>{{ include.category4name }}</b>
        </div>
        <tbody style="text-align:center">
        <tr>
            <td>{{ include.category4  | markdownify | remove: '<p>' | remove: '</p>' }}</td>
        </tr>
    </tbody>
    </table>
    {% endif %}
</div>