<div class="infobox-title">
    {{ include.name | default: "Untitled InfoBox" | markdownify }}
</div>
<div class="infobox mdl-shadow--4dp">
    {% if include.image %}
    <div class="infobox-img-container">
        	<img src="{{ include.image }}"  style="width:50%;" class="infobox-img">
            <div class="infobox-img-caption">{{ include.name | markdownify }}'s Profile Picture</div>
    </div>
    {% endif %}

    <table class="infobox-data-table">
        <tbody>
            <tr>
                <th>Formerly known as</th>
                <td>{{ include.formerly | markdownify }}</td>
            </tr>
            <tr>
                <th>Born</th>
                <td>{{ include.bod | markdownify }}</td>
            </tr>
            <tr>
                <th>Nationality</th>
                <td>{{ include.nationality | markdownify }}</td>
            </tr>
            <tr>
                <th>Known for</th>
                <td>{{ include.known | markdownify }}</td>
            </tr>
          </tbody>
	</table>
</div>