<div class="infobox-title">
    {{ include.buildtag | default: "Untitled InfoBox" }}
</div>
<div class="infobox mdl-shadow--4dp">    
    {% if include.image %}
    <div class="infobox-img-container">
        <div class="infobox-img-caption">Build of {{ include.family | markdownify | remove_first: '<p>' | remove: '</p>' }}</div> <!-- we strip out the p items so it works fine-->
            <img src="{{ include.image }}" alt="Screenshot of {{ include.family | escape }} {{ include.version }} build {{ include.build }}" class="infobox-img">
    </div>
    {% endif %}

    <table class="infobox-data-table">
        <tbody>
            {% if include.release_name %}
            <tr>
                <th>Release name</th>
                <td>{{ include.release_name }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>Family</th>
                <td>{{ include.family | markdownify | remove_first: '<p>' | remove: '</p>' }}</td>
            </tr>
            <tr>
                <th>Version number</th>
                <td>{{ include.version }}</td>
            </tr>
            {% if include.build %}
            <tr>
                <th>Build number</th>
                <td>{{ include.build }}</td>
            </tr>
            {% endif %}
            {% if include.lab %}
            <tr>
                <th>Build lab</th>
                <td>{{ include.lab | markdownify | remove_first: '<p>' | remove: '</p>' }}</td>
            </tr>
            {% endif %}
            {% if include.compiled %}
            <tr>
                <th>Compiled on</th>
                <td>{{ include.compiled }}</td>
            </tr>
            {% endif %}
            </tbody>
    </table>
</div>