<div class="homepage-cards">
<div class="featured-article demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <i class="material-icons">import_contacts</i><h2 class="mdl-card__title-text">&nbsp;&nbsp;Featured article</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <div id="feat-article-container" style="color:var(--text-color);padding:-1;">
       Could not load featured article.
      </div>
  </div>
</div>

<div class="did-you-know demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <i class="material-icons">question_mark</i><h2 class="mdl-card__title-text">&nbsp;&nbsp;Did you know...</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <div id="facts-container" style="color:var(--text-color);padding:-1;">
    <noscript>...that JavaScript is currently disabled and several <s>LexiWiki</s>..i mean KuroWiki features are disabled?</noscript> 
      </div>
  </div>
</div>

<div class="recent-news demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <i class="material-icons">newspaper</i><h2 class="mdl-card__title-text">&nbsp;&nbsp;Recent news</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <div style="color:var(--text-color);padding:-1;">
    {% capture recent_news %}
     {% include recent_news.md %}
       {% endcapture %}
     {{ recent_news | markdownify }}
      </div>
  </div>
</div>
</div>
