/* springviewer watermark */
#viewer-watermark {
    position: fixed;
    bottom: 0;
    right: 0; 
    left: auto;
    font-family: sans-serif;
    text-align: right;
    padding: 1px;
    margin-bottom: -1px;
    font-size: 14px;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000000006; 
}


/* springviewer moment */
#springviewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    z-index: 999999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mdl-hidden {
    display: none !important;
}

/* so now i go here, i remove one letter and it should all work */
/* ....right? */
/* RIGHT? */
/* YOU PIECE OF COMPUTER SOFTWARE JUST FUCKING WORK MAN */
/* ok it was cache,, */
/* wait this viewer thing still deosnt work ALL I DID WAS RENAME IT- */
.viewer-hidde {
    display: none !important;
    opacity: 0;
}

.mdl-card--border {
    border-top-color: var(--viewer-border-color) !important;
}

.viewer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 5000000;
    max-height: 90%;
}

#viewer-media-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#viewer-media-element {
    max-width: 80%;
    max-height: 70%;
    justify-self: center;
    justify-content: center;
    align-items: center;
    position: relative;
    border: none;
    background-color: none;
    padding-bottom: 8%;
}

#viewer-media-container video,
#viewer-media-container audio {
    display: block;
    margin: auto;
}

#viewer-details-sub {
    font-size: 0.96em;
    color: #939393;
    background-color: inherit;
}

#viewer-details-nested {
    background-color:inherit;
    width: 88%;
    height: 40%;
    display: flex;
    position: relative;
    margin: 15px !important;
    justify-items: center;
    align-items: center;
    align-self: center;
}

#viewer-caption {
    color: var(--text-color);
    text-align: left;
    margin-top: -5px;
    font-weight:350;
    flex-wrap:wrap;
    width: 100%;
    position: absolute;
    justify-items: center;
    margin-top: 13px;
    align-items: center;
    align-self: center;
}

#viewer-details-button {
    float: right;
    display: flex;
    position: fixed;
    right: 0px;
    margin-top: -88px; 
    margin-right: 15px;
    color: var(--text-color);
    background-color: var(--viewer-button-color);
}

#viewer-details-license {
    float: right !important;
    margin: 0 auto;
    position: relative;
    padding-right: 3px;
}
#viewer-details-license-icon {
    float: right;
    padding-right: 3px;
}

#viewer-details-author {
    margin: 0 auto;
    position: absolute;
}
#viewer-details-author-icon {
    padding-left: 5px;
}

#viewer-details {
    background-color: var(--viewer-background-color);
    width: 100%;
    height: 17%;
    bottom: 0;
    position: fixed;
    z-index: 5000000;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    line-height: 1;
    transition: color 0.2s;
    z-index: 1000000007;
}

/* is this a copy paste? it absolutely is. */
.flscr-btn {
    position: absolute;
    top: 10px;
    right: 100px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    line-height: 1;
    transition: color 0.2s;
    z-index: 1000000007;
}

.dl-btn {
    position: absolute;
    top: 10px;
    right: 68px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    line-height: 1;
    transition: color 0.2s;
    z-index: 1000000007;
}

#viewer-top-buttons {
    width: 100%;
    background-color: none;
    height: 7%;
    position: fixed;
    top: 0;
}

.close-btn:hover {
    color: #bdbdbd; 
}
.dl-btn:hover {
    color: #bdbdbd; 
}
.flscr-btn:hover {
    color: #bdbdbd; 
}

.viewer-counter {
    position: absolute;
    top: 60px;
    right: 40px;
    color: #fff;
    font-size: 16px;
    line-height: 1;
    z-index: 1000000007;
}

.nav-btn {
    background-color: transparent;
    height: 80px;
    border: none;
    color: #fff;
    font-size: 50px;
    cursor: pointer;
    transition: opacity 0.2s, background-color 0.2s;
    user-select: none;
    opacity: 0.7;
    margin: 0 10px;
    padding: 0 15px; 
    margin-top: -100px;
    position: fixed;
}

.nav-btn:hover {
    opacity: 1;
}

.prev-btn {
    position:absolute;
    left:0px!important;
}

.next-btn {
    position:absolute;
    right:0px!important;
}

.mdl-dialog {
    background-color: var(--viewer-background-color);
    width: 600px;
    color: var(--text-color) !important;
}

.mdl-dialog__title {
    font-size: 2em;
}


.mdl-dialog__content {
    color: var(--text-color) !important;
}

.mdl-dialog::backdrop {
    background: black;
    opacity: 80%;
}